## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## Import Data

In [2]:
# import customer data

df_cust = pd.read_csv(os.path.join('/content/drive/MyDrive/AB Instacart Project Folder/2. Data/customers.csv'), index_col = False)

In [3]:
# Check df

df_cust.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [4]:
# Check descriptive statistics

df_cust.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [5]:
# Rename columns

df_cust.rename(columns = {'First Name':'first_name','Surnam':'surname','Gender':'gender','STATE':'state','Age':'age','n_dependants':'number_of_dependants','fam_status':'marital_status'}, inplace = True)

In [6]:
df_cust.dtypes

user_id                  int64
first_name              object
surname                 object
gender                  object
state                   object
age                      int64
date_joined             object
number_of_dependants     int64
marital_status          object
income                   int64
dtype: object

In [7]:
# Change user_id data type to match other df

df_cust['user_id'] = df_cust['user_id'].astype('int32')

In [8]:
# Checking for mixed type data

for col in df_cust.columns.tolist():
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_cust[weird]) > 0:
    print (col)

first_name

#### First name column showing missing values, change data type to eliminate issue

In [9]:
# Changing data type for first_name

df_cust['first_name'] = df_cust['first_name'].astype('str')

In [10]:
# Checking for missing values

df_cust.isnull().sum()

user_id                 0
first_name              0
surname                 0
gender                  0
state                   0
age                     0
date_joined             0
number_of_dependants    0
marital_status          0
income                  0
dtype: int64

#### No missing values

In [11]:
# Checking for duplicate records

df_dups = df_cust[df_cust.duplicated()]

In [12]:
# Checking df_dups

df_dups

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, number_of_dependants, marital_status, income]
Index: []

#### No duplicated records

## Importing orders/products df for merge

In [13]:
df_merged = pd.read_pickle(os.path.join(r'/content/drive/MyDrive/AB Instacart Project Folder/2. Data/Orders_products_merged_4_8.pkl'))

In [14]:
# Checking datatypes

df_merged.dtypes

order_id                     int32
user_id                      int32
order_number                  int8
orders_day_of_week            int8
order_time_of_day             int8
days_since_prior_order     float16
first_order                  int64
product_id                   int32
add_to_cart_order            int32
reordered                     int8
_merge                    category
Unnamed: 0                   int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
price_range_loc             object
busiest_day                 object
Busiest_days                object
busiest_period_of_day       object
max_order                     int8
loyalty_flag                object
average_order              float64
spender_flag                object
median_order_frequency     float16
order_frequency_flag        object
dtype: object

In [15]:
# deleting unnecessary columns

df_merged_clean = df_merged.drop(columns = ['_merge','Unnamed: 0'])

In [16]:
# Changing data types to minimize memory errors

df_merged_clean['order_id'] = df_merged_clean['order_id'].astype('int8')
df_merged_clean['first_order'] = df_merged_clean['first_order'].astype('int8')
df_merged_clean['product_id'] = df_merged_clean['product_id'].astype('int8')
df_merged_clean['add_to_cart_order'] = df_merged_clean['add_to_cart_order'].astype('int8')
df_merged_clean['aisle_id'] = df_merged_clean['aisle_id'].astype('int8')
df_merged_clean['department_id'] = df_merged_clean['department_id'].astype('int8')
df_merged_clean['prices'] = df_merged_clean['prices'].astype('float16')
df_merged_clean['average_order'] = df_merged_clean['average_order'].astype('float16')

In [17]:
# Merging df's

df_full_merge = df_cust.merge(df_merged_clean, on = 'user_id')

In [18]:
# Checking merge of df's

df_full_merge.head(20)

,user_id,first_name,surname,gender,state,age,date_joined,number_of_dependants,marital_status,income,...,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_order,spender_flag,median_order_frequency,order_frequency_flag
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Regularly busy,Busiest days,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Regularly busy,Regularly busy,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Regularly busy,Busiest days,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Regularly busy,Regularly busy,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Regularly busy,Least busy days,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
5,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Regularly busy,Busiest days,Average orders,8,New customer,7.988281,Low spender,19.0,Regular customer
6,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Regularly busy,Busiest days,Average orders,8,New customer,7.988281,Low spender,19.0,Regular customer
7,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Regularly busy,Regularly busy,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
8,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Regularly busy,Busiest days,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
9,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Low-range product,Regularly busy,Regularly busy,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
10,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Low-range product,Regularly busy,Least busy days,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
11,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Low-range product,Regularly busy,Busiest days,Average orders,8,New customer,7.988281,Low spender,19.0,Regular customer
12,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Low-range product,Regularly busy,Busiest days,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
13,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Low-range product,Regularly busy,Busiest days,Average orders,8,New customer,7.988281,Low spender,19.0,Regular customer
14,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Low-range product,Regularly busy,Regularly busy,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
15,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Low-range product,Regularly busy,Busiest days,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
16,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Mid-range product,Regularly busy,Least busy days,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
17,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Low-range product,Regularly busy,Busiest days,Most orders,8,New customer,7.988281,Low spender,19.0,Regular customer
18,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Mid-range product,Regularly busy,Regularly busy,Most orders,12,Regular customer,7.058594,Low spender,26.0,Non-frequent customer
19,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Mid-range product,Regularly busy,Busiest days,Average orders,12,Regular customer,7.058594,Low spender,26.0,Non-frequent customer

In [19]:
df_full_merge.to_pickle(os.path.join(r'/content/drive/MyDrive/AB Instacart Project Folder/2. Data/', 'df_merged_4_9.pkl'))